label {
  display: block;
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
  display: inline;
  float: left;
}

/* The slider itself */
.filters {
  float: left;
  width: 30%
}

.data {
  float: left;
  width: 70%;
}
